.Correct-Answer {
    position: absolute;
    left: 50vw;
    margin-left: -5vw;
    top: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: green;
    width: 10vw;
    height: 10vh;
    z-index: 3;
}