#end-screen{
    width: 100%;
    height :90vh;
    position: relative;
}

.end-background-img{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    z-index: -1;
    object-fit: cover;
}

.end-container {
    width :80%;
    height: 100%;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.7);
    color:white;
}

.end-content{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-score{
    padding-top: 8vh;
    font-size: 3.8vw;
    padding-bottom: 0.6vh;
}

.link {
    color:#FFF;
    font-size: 1.5vw;
    text-decoration: none;
}
.link:hover {
    color: #FFF;
}
.ranks {
    margin-top: -10vh;
    border: 0.3vw solid white;
    width: 70%;
    padding-bottom: 3%;
    font-size: 1.4vw;
}
