
img {
  width:100px;
  height:100px;
  resizeMode: "cover";
}
.game-screen {

  width: 100%;
  height: 700px;
}
.Left-box {
  display: flex;
  width: 50%;
  float: left;
  box-sizing: border-box;
  height: 100%;
}
.Right-box {
  display: flex;
  width: 50%;
  float: right;
  box-sizing: border-box;
  height: 100%;
}
.img-thumbnail {
  width:100%;
  height:100%;
  object-fit: contain;
}
.Expensive-button {
  position: relative;
  width: 100px;
  height: 100px;
  top: 40%;
  margin-top:-50px;
  left: 50%;
  margin-left:-50px;
  background-color:transparent;
  color:white;
  border-color: white;
  border-width: 5pt;
  font-size: 15pt;
}
.Cheap-button {
  position: relative;
  width: 100px;
  height: 100px;
  top: 60%;
  margin-top:-50px;
  left: 50%;
  margin-left:-50px;
  background-color:transparent;
  color:white;
  border-color: white;
  border-width: 5pt;
  font-size: 15pt;
}
.LeftText{
    position: absolute;
    color:whitesmoke;
}
.RightText{
    position: absolute;
    color:whitesmoke;
}

.Hint-button {
    position: relative;
    display: flex;
    height: 50px;
    left: 70%;
    font-size: 15pt;
}