.black-nav {
    display: flex;
    background: black;
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
}

#title{
    color:white;
    margin-left:20px;
}