.result-alert{
    color:white;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top : 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}